.default {
    
  /********************* ABOUT US SECTION *********************/

  .section-aboutus {
    display: flex;

    .section-aboutus--left {
      flex: 1;

      p {
        font-size: 14px;
        line-height: 30px;
      }
    }

    .section-aboutus--right {
      width: 520px;
      text-align: center;

      img {
        width: 480px;
        box-shadow: 0 5px 10px #333333;
      }
    }
  }
}
