.section-contact {
    max-width:450px;
    margin:auto;
    text-align:center;

    input[type=text],
    input[type=email],
    textarea {
        display:block;
        width:100%;
        height:40px;
        border:0;
        background:transparent;
        border-bottom:1px solid #CCC;
        outline:0;
        margin-top:0.625rem;
    }

    textarea {
        height:100px;
        resize:none;
    }

    .section-contact--split {
        display:flex;

        input:first-child {
            margin-right:1.25rem;
        }
    }

    input[type=submit] {
        cursor: pointer;
    }
}