.default {
  padding: 50px 0;

  .section-title,
  .section-description {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
  }

  .section-title {
    font-size: 1.25rem;
  }

  .section-description {
    font-size: 0.75rem;
    color: #cccccc;
    margin: 10px 0 40px 0;
  }

  &.light {
    background-color: #f7f7f7;

    .section-title,
    .section-body {
      color: #000000;
    }
  }

  &.dark {
    background-color: #000000;

    .section-title,
    .section-body {
      color: #ffffff;
    }
  }

  .section-body {
    width: 1140px;
    max-width: 100%;
    margin: auto;

  }
}
