* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 13px;
  overflow-x: hidden;
}

.menuMobile{
  display: none;
}

.button {
  display: inline-block;
  background-color: #b28756;
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  padding: 10px 30px;
  margin-top: 30px;
  border-radius: 20px;

  &:hover {
    opacity: 0.8;
  }

  &.button--dark {
    background-color: #000;

    &:hover {
      background-color: #b28756;
    }
  }
}
