.section-facts {
  display: flex;

  .section-fact {
    flex: 1;
    text-align: center;
    padding: 0.9375rem;

    h3 {
      color: #b28756;
      font-size: 2.8125rem;
    }

    .section-fact-line {
      width: 20px;
      border-bottom: 2px solid #b28756;
      margin: auto;
    }

    h4 {
      margin-top: 20px;
      text-transform: uppercase;
      font-size: 18px;
    }

    p {
      margin-top: 10px;
      font-size: 13px;
      color: #999;
    }
  }
}
