footer {
    width: 100%;
    background-image: url(/src/images/media/bg-footer.png);
    padding: 1.25rem;

    .footer--area {
        max-width: 1140px;
        margin: auto;
        color: #FFF;
        display: flex;

        .footer--item {
            flex: 1;

            &.area1 {
                display: flex;
                align-items: center;
            }

            .footer-social {
                display: flex;
                justify-content: center;

                a {
                    display: block;
                    width: 30px;
                    height: 30px;
                    background-color: #333;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 0.8125rem;
                    margin-right: 0.625rem;
                    text-decoration: none;

                    &:hover {
                        background-color: #b28756;
                    }
                }

                img {
                    height: 0.9375rem;
                }
            }
        }

        .footer--item {
            &.area2 {
                display: flex;
                align-items: center;
                justify-content: center;
                color: #999;
                line-height: 1.25rem;
                font-size: 0.8125rem;
                padding: 0 0.625rem 0.625rem 0.625rem;
                text-align: center;

                a {
                    color: #999;
                }
            }
        }

        .footer--item {
            &.area3 {
                form {
                    background-color: #333;
                    text-align: center;
                    padding: 1.875rem;

                    button {
                        cursor: pointer;
                    }
                }

                input {
                    width: 100%;
                    height: 40px;
                    border: 0;
                    background: transparent;
                    border-bottom: 1px solid #CCC;
                    outline: 0;
                    color: #FFF;
                    font-size: 0.875rem;
                    text-align: center;
                }
            }
        }
    }
}