header {
  height: 100px;
  background-color: #000000;
  color: #FFFFFF;
  
  .header-container {
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;

    .logo {
        width: 100px;
        .logoimg {
            width: 80px;
            height: 80px;
            background-color: #B28756;
            border-radius: 40px;
        }
    }
  }
}
