.section-map {
  background-image: url("/src/images/media/mapa.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;

  .section-map--area {
    width: 100vw;
    max-width: 1140px;
    margin: auto;

    .section-map--info {
      width: 50%;
      padding: 1.875rem;
      background-color: #fff;
      color: #000;

      .section-map--info-item {
        display: flex;
        align-items: center;
        color: #999;
        margin-bottom: 0.625rem;

        .section-map--info-item-img {
          width: 30px;
          height: 30px;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          padding: 0.3125rem;
          background-color: #999;
          border-radius: 0.9375rem;
          margin-right: 0.9375rem;

          img {
            width: 15px;
            height: auto;
          }
        }
      }
    }
  }
}
