.menu {
  flex: 1;
  display: flex;
  justify-content: flex-end;

  ul,
  li {
      list-style: none;
  }

  ul {
      display: flex;
      margin: 0;
  }

  li {
      a {
          color: #FFFFFF;
          text-transform: uppercase;
          font-weight: 600;
          text-decoration: none;
          display: flex;
          align-items: center;
          padding: 0 0.625rem;
          height: 100px;
          border-bottom: 5px solid #000000;

          &:hover {
              border-bottom: 5px solid #B28756;
              color: #CCCCCC;
          }
      }
  }

  .active a {
    border-bottom: 5px solid #B28756;
    color: #CCCCCC;
  }
}
