.owl-carousel {
  width: 100vw;
  height: calc(100vh - 100px);
  background-color: #333333;
  background-image: url(/src/images/media/bg.jpg);
  background-size: cover;
  background-position: bottom;
  overflow: hidden;

  .sliders {
    width: 1000vw;
    height: 100%;

    .slider {
      width: 100vw;
      height: 100%;
      display: inline-block;
      background-color: rgba(0, 0, 0, 0.8);

      .slidearea {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        color: #ffffff;

        h1 {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 3.125rem;

            span {
                color: #B28756;
            }
        }

        h2 {
            font-size: 1.25rem;
            text-transform: uppercase;
        }

        a {
            display: block;
            background-color: #B28756;
            color: #FFFFFF;
            font-size: 12px;
            font-weight: 600;
            text-decoration: none;
            padding: 10px 30px;
            margin-top: 30px;
            border-radius: 20px;

            &:hover {
              opacity: 0.9;
            }
        }
      }
    }
  }

  .slider-pointers {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 20px;
    margin-top: -50px;

    .pointer {
      width: 15px;
      height: 15px;
      border: 2px solid #B28756;
      border-radius: 8px;
      margin: 0 5px;
      cursor: pointer;

      &.active {
        background-color: #B28756;
      }
    }
  }
}
