.premium {
  background-color: #fff !important;
  border-top: 1px solid #ccc;

  .section-body {
    max-width: initial;

    .section-premium {
      overflow: hidden;

      a {
        margin-top: 1.875rem;
      }

      .sliders {
        width: 1000vw;
        height: 100%;

        .slider {
          width: 100vw;
          height: 100%;
          display: inline-block;

          .slidearea {
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;
            max-width: 1140px;
            border-bottom: 1px solid #ccc;
            margin: auto;
            padding-bottom: 2.5rem;

            .section-premium--left {
              flex: 1;
              text-align: right;

              img {
                width: 300px;
                margin-right: 1.875rem;
              }
            }

            .section-premium--right {
              flex: 1;

              .section-premium--item {
                display: flex;
                margin-bottom: 20px;

                img {
                  width: 20px;
                  height: 20px;
                  margin-right: 1.25rem;
                }

                div {
                  flex: 1;
                  color: #999;
                  line-height: 20px;

                  h4 {
                    color: #000;
                    font-size: 17px;
                    font-weight: 600;
                  }
                }
              }
            }
          }
        }
      }

      .slider-pointers {
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;

        .pointer {
          width: 15px;
          height: 15px;
          border: 2px solid #b28756;
          border-radius: 8px;
          margin-left: 5px;
          margin-right: 5px;

          &.active {
            background-color: #b28756;
          }
        }
      }
    }
  }
}
