.section-price {
    display:flex;

    .section-price--item {
        flex:1;
        background-color: #FFF;
        margin-right: 1.25rem;
        padding:1.25rem;
        text-align:center;

        &:last-child {
            margin-right:0;
        }

        .section-price--item-name {
            text-transform: uppercase;
            font-size:0.8125rem;
            font-weight:600;
        }

        .section-price--item-money {
            font-weight: bold;
            font-size:1.375rem;
            margin-top:0.625rem;
        }

        .section-price--item-period {
            color:#999;
            text-transform: uppercase;
            margin-bottom:1.25rem;
        }

        .section-price--item-point {
            font-size:0.75rem;
        }
    }
}