.default {
  /********************* PROJECTS SECTION *********************/

  .section-projects {
    display: flex;
    flex-direction: column;
    align-items: center;

    .section-projects--filters {
      border: 1px solid #ccc;
      background-color: #eee;
      border-radius: 30px;
      display: inline-block;
      padding: 0px 1.25rem;
      height: 2.75rem;

      ul,
      li {
        list-style: none;
      }

      li {
        display: inline-block;
        padding: 0.625rem;
        text-transform: uppercase;
        font-size: 0.8125rem;
        border-left: 1px solid #ccc;
        color: #555;
        border-bottom: 3px solid #eee;
        cursor: pointer;

        &:hover,
        &.active {
          border-bottom: 3px solid #b28756;
        }

        &:first-child {
          border-left: 0;
        }

        &:last-child {
          border-right: 0;
        }

        a {
          text-decoration: none;
          color: #555555;
          cursor: pointer;
        }
      }
    }

    .section-projects--photos {
      width: 100vw;
      max-width: 1140px;
      margin-top: 1.25rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .section-projects--photo {
        width: 280px;

        .section-projects--photoarea {
          width: 260px;
          height: 160px;
          margin: 10px;

          &:hover .section-projects--photoinfo {
            display: flex;
          }

          img {
            width: inherit;
            height: inherit;
          }

          .section-projects--photoinfo {
            position: absolute;
            width: inherit;
            height: inherit;
            background-color: rgba(0, 0, 0, 0.5);
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #fff;

            h5 {
              font-size: 1.125rem;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}
