/* TABLET SIZE - PORTRAIT */

@media (min-width: 450px) and (max-width: 768px) {
  .logo {
    margin-left: 1.875rem;
  }

  .menuMobile {
    display: block;
    width: 45px;
    margin-right: 1.875rem;
  }

  nav {
    position: absolute;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.9);
    width: 60vw;
    height: calc(100vh-100px);
    top: 100px;
    right: 0;
    display: none !important;
  }

  ul {
    flex-direction: column;
  }

  .menu {
    li {
      &.active {
        a {
          border: 0;
          color: #b28756;
        }
      }

      a {
        font-weight: bold;
        height: 80px;
        font-size: 1.6875rem;
        margin-left: 3.125rem;
        border: 0;
      }
    }
  }

  .default {
    .section-aboutus {
      flex-direction: column;

      .section-aboutus--left {
        margin-left: 1.875rem;
        margin-right: 1.875rem;
        margin-bottom: 1.875rem;

        a.button {
          margin-top: 0;
        }
      }

      .section-aboutus--right {
        width: auto;
      }
    }

    .section-services {
      flex-wrap: wrap;

      .section-service {
        min-width: 50%;
        margin-bottom: 30px;

        &:first-child {
          border-left: 0;
        }
      }
    }

    .section-team {
      width: 580px;
    }
  }

  .testimonials {
    .section-testimonials {
      .sliders {
        .slider {
          .slidearea {
            margin-right: 0;
          }
        }
      }

      .slider-pointers {
        margin-left: 0;
      }
    }
  }

  .section-map {
    padding: 0 1.875rem;

    .section-map--area {
      width: auto;

      .section-map--info {
        width: auto;

        .section-map--info-item {
          margin-bottom: 1.25rem;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

/* MOBILE SIZE */

@media (max-width: 450px) {
  .logo {
    margin-left: 1.875rem;
  }

  .menuMobile {
    display: block;
    width: 45px;
    margin-right: 1.875rem;
  }

  nav {
    position: absolute;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.9);
    width: 80vw;
    height: calc(100vh-100px);
    top: 100px;
    right: 0;
    display: none !important;
  }

  ul {
    flex-direction: column;
  }

  .menu {
    li {
      &.active {
        a {
          border: 0;
          color: #b28756;
        }
      }

      a {
        font-weight: bold;
        height: 3.75rem;
        font-size: 1.25rem;
        margin-left: 1.875rem;
        border: 0;
      }
    }
  }

  .owl-carousel {
    .sliders {
      .slider {
        .slidearea {
          h1 {
            font-size: 1.875rem;
          }

          h2 {
            font-size: 1.0625rem;
          }
        }
      }
    }
  }

  .default {
    .section-body {
      max-width: 80%;

      .section-facts {
        flex-wrap: wrap;
      }
    }

    .section-aboutus {
      flex-direction: column;

      .section-aboutus--left {
        margin-left: 1.875rem;
        margin-right: 1.875rem;
        margin-bottom: 1.875rem;

        a.button {
          margin-top: 0;
        }
      }

      .section-aboutus--right {
        width: auto;
        margin-left: 1.875rem;
        margin-right: 1.875rem;

        img {
          width: 100%;
        }
      }
    }

    .section-services {
      flex-wrap: wrap;

      .section-service {
        min-width: 100%;
        margin-bottom: 30px;

        &:first-child {
          border-left: 0;
        }
      }
    }

    .section-projects--filters {
      width: 320px;
      margin: 0 1.875rem;
      height: 5.4rem !important;
    }

    .section-projects--photo {
      width: 320px !important;

      .section-projects--photoarea {
        width: 300px !important;
        height: auto !important;
      }
    }

    .section-team {
      width: 280px !important;
    }

    .section-price {
      flex-wrap: wrap;

      .section-price--item {
        margin-right: 0;
      }
    }
  }

  .section-share {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-right: 2.5rem;
    margin-bottom: 1rem;

    .section-share--label {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      margin-right: 2.5rem;
      margin-bottom: 1rem;
    }

    .section-share--item {
      padding-bottom: 0.625rem;
    }
  }

  .testimonials {
    .section-testimonials {
      .sliders {
        .slider {
          .slidearea {
            margin-right: 0;
          }
        }
      }

      .slider-pointers {
        margin-left: 0;
      }
    }
  }

  .section-companies .section-companies--area {
    flex-wrap: wrap;
    margin: -2rem 2rem;

    .section-company {
      padding-bottom: 1rem;
    }
  }

  .premium .section-body .section-premium .sliders .slider .slidearea {
    flex-wrap: wrap;

    .section-premium--left {
      margin-bottom: 1.25rem;
    }

    .section-premium--right {
      margin: 0 2rem;
    }
  }

  .section-map {
    padding: 0;
    padding-bottom: 250px;

    .section-map--area {
      width: auto;

      .section-map--info {
        width: auto;

        .section-map--info-item {
          margin-bottom: 1.25rem;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  footer .footer--area {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .footer--item.area1 {
      align-items: center;
    }

    .footer--item.area2 {
      margin-top: 3.125rem;
    }

    .footer--item.area3 {
      margin-bottom: 1.25rem;
    }
  }
}
