.default {
    
  /********************* SERVICES SECTION *********************/

  .section-services {
    display: flex;

    .section-service {
      flex: 1;
      text-align: center;
      padding: 15px;
      border-right: 1px solid #333;

      &:first-child {
        border-left: 1px solid #333;
      }

      h4 {
        margin-top: 20px;
        text-transform: uppercase;
        font-size: 1.125rem;
      }

      p {
        margin-top: 10px;
        font-size: 13px;
        color: #999999;
      }
    }
  }
}
