.bg-team {
  background-image: url(/src/images/media/bg.jpg);
  background-size: cover;
  background-position: center;
  padding: 0;
}

.section-team-area {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 50px 0;

  .section-team {
    overflow: hidden;
    max-width: 880px;
    margin: auto;

    .sliders {
      width: 1000vw;
      height: 100%;

      .slider {
        width: 280px;
        height: 100%;
        min-height: 300px;
        display: inline-block;
        background-color: #ffffff;
        margin-right: 20px;

        .slidearea {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          height: 100%;
          color: #000000;
          padding: 1.875rem;

          .section-team--avatar {
            width: 150px;
            height: auto;

            img {
              width: 100%;
              height: inherit;
            }
          }

          .section-team--name {
            text-transform: uppercase;
            font-weight: 600;
            font-size: 1.0625rem;
            margin-top: 1.875rem;
          }

          .section-team--role {
            margin-top: 0.3125rem;
            color: #999;
          }

          .section-team--social {
            display: flex;
            margin: 1.25rem 0;

            a {
              display: inline-flex;
              justify-content: center;
              align-items: center;
              width: 25px;
              height: 25px;
              background-color: #ccc;
              border-radius: calc(25px / 2);
              margin-right: 0.625rem;

              &:hover {
                background-color: #b28756;
              }
            }
          }
        }
      }
    }
  }

  .slider-pointers {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    height: 20px;

    .pointer {
      width: 15px;
      height: 15px;
      border: 2px solid #b28756;
      border-radius: 8px;
      margin: 0 5px;
      cursor: pointer;

      &.active {
        background-color: #b28756;
      }
    }
  }
}
