.testimonials {
  .section-body {
    max-width: initial;
  }

  .section-testimonials {
    overflow: hidden;
    margin: auto;

    .sliders {
      width: 1000vw;
      height: 100%;

      .slider {
        width: 100vw;
        height: 100%;
        display: inline-block;

        .slidearea {
          display: flex;
          flex-direction: column;
          height: 100%;
          justify-content: center;
          align-items: center;
          margin-right: 14rem;

          .section-testimonials--avatar {
            width: 100px;
          }

          .section-testimonials--name {
            font-weight: bold;
            font-size: 1rem;
            margin-top: 1.25rem;
          }

          .section-testimonials--role {
            font-size: 0.875rem;
          }

          .section-testimonials--quoteimg {
            width: 20px;
            margin-top: 1.875rem;
          }
          .section-testimonials--quote {
            margin-top: 0.625rem;
            font-size: 0.8125rem;
            max-width: 700px;
            color: #555;
            text-align: center;
            line-height: 1.5625rem;
            margin-left: 1.875rem;
            margin-right: 1.875rem;
          }
        }
      }
    }

    .slider-pointers {
      width: 100vw;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 2.5rem;
      margin-left: -7rem;

      .pointer {
        width: 15px;
        height: 15px;
        border: 2px solid #b28756;
        border-radius: 8px;
        margin-left: 0.3125rem;
        margin-right: 0.3125rem;
        cursor: pointer;

        &.active {
          background-color: #b28756;
        }
      }
    }
  }
}
