.section-share {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
  background-color: #fff;
  color: #999;

  .section-share--label {
    display: flex;
    align-items: center;
    margin-right: 2.5rem;

    img {
      margin-right: 0.625rem;
    }
  }

  .section-share--item {
    font-size: 12px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;

    .section-share--icon {
      width: 30px;
      height: 30px;
      border-radius: 15px;
      background-color: #ccc;
      margin-right: 0.3125rem;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 12px;
      }

      &.twitter {
        background-color: #34c5f0;
      }

      &.linkedin {
        background-color: #127cb4;
      }

      &.facebook {
        background-color: #336297;
      }

      &.googleplus {
        background-color: #e74237;
      }

      &.pinterest {
        background-color: #b71c29;
      }

      &.youtube {
        background-color: #ff0000;
      }
    }
  }
}
